/* Custom fonts */
@font-face {
	font-family: Avenir;
	src: url("fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
	font-family: Avenir;
	font-weight: bold;
	src: url("fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: Produkt;
	src: url("fonts/Produkt-Light.otf") format("opentype");
}

body {
	margin: 0;
	height: 100%;
	font-family: "Avenir", sans-serif;
	text-align: center;
}

h1 {
	font-family: "Produkt", sans-serif;
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

table {
	border: 2px solid black;
	table-layout: fixed;
	width: 882px;
	z-index: 1;
}

table {
	background: url(images/moonboard.jpg);
}

th {
	font-size: 150%;
}

tr {
	height: 67.15px;
}

th, tr {
	color: transparent;
}

.top-banner {
	position: fixed;
	height: 90px;
	width: 100%;
	background-color: #696969;
	font-size: 150%;
	color: white;
}

.main {
	padding: 150px 100px 100px 100px;
}

.led-button {
	height: 80px;
	width: 80px;
	border-radius: 40px;
	box-shadow: none;
	border: 0px;
	background: transparent;
}

.red-button {
	border: 5px solid #ff0000;
}

.green-button {
	border: 5px solid #20c997;
}

.blue-button {
	border: 5px solid #0000ff;
}

.background {
	position: fixed;
	padding: 150px 100px 100px 100px;
}
